* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f8ff;
}

#gallery{
    column-count:4;
    column-gap:20px;
  }
      
  #gallery img {
    width:100%;
    height:auto;
    margin: 4% auto;
    box-shadow:-3px 5px 15px #000;
    cursor: pointer;
    transition: all 0.2s;
  }

  @media (max-width:1200px){
    #gallery{
    column-count:3;
    column-gap:20px;
  }
  }
  @media (max-width:800px){
    #gallery{
    column-count:2;
    column-gap:20px;
  }
  }
  @media (max-width:600px){
    #gallery{
    column-count:1;
  }
}

.gallery-item {
    flex-basis: 32.7%;
    margin-bottom: 6px;
    cursor: pointer;
}

.gallery-item {
    box-shadow: none;
}

.gallery-item:hover {
    opacity: 1;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-content {
    font-size: .8em;
}

/*-------- FULLSCREEN IMG-------*/

.full-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: none;
}

.full-img img{
    max-width: 90vw;
    max-height: 100vh;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/*========= WELCOME INTROCUTION ==========*/

.intro {
  height: 60vh;
  width: 100%;
  background: linear-gradient(275deg, #AA7ECD 0%, #02CCBA 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  margin: 0;
}

.intro h1 {
  font-weight: 300;
  line-height: 0.8;
}

.intro h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 1;
}

/*======================= END INTRODUCTION SECTION ==================*/

.container {
  padding-top: 1em;
  color: #110f29;
}

.container h5 {
  font-weight: 500;
}

.container p {
  font-size: 20px;
  line-height: 1;
}